$colorFondo:#0b3b5b;
$colorNegro: #000000;
$colorBlanco: #ffffff;
$colorContenedores: #72746B;
$colorPie: #DEE1D4;
$colorTextoPie: #72746B;
$ColorParrafoPie: #353630;
$colorGinmo: #4EC438;
$VerdeClaro: #66e44d;
