html {
    font-size: 62.5%;
    height: 100%;
}
* {
    margin: 0;
    padding: 0;
}
// cuerpo
.fondoCeleste{
    background-color: $colorFondo;
    display: flex;
    flex-direction: column;
    min-height: 100%;
.titulo{
    color: $colorBlanco;
    font-size: nth($allSize, 2);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: nth($allSize, 2);
    text-shadow: 0 0 2px $colorNegro;
}
.fondo2{
    background-image: url(../img/barra\ colores.jpg);
    background-repeat: repeat-y;
    background-size: cover;
    margin-bottom: nth($allSize, 1);
}
}
.logo1,
.logo2 {
    display: flex;
    width: nth($tamanoAncho, 1) ;
    height: nth($tamanoAlto, 1);
}
// nav 
nav{
.nav-link {
    color: $ColorParrafoPie;
    text-decoration: none;
    &:hover{
    color: $colorNegro ;
    font-weight: bold;
    text-decoration: underline;
    }
} 
li{
    display: inline-block;
    margin: 5px 15px;
    font-size: nth($allSize, 3);  
}
}
// carrusel
.container {
    width: nth($tamanoAncho, 2);
    height: auto;
    background-color: $colorContenedores;
    padding: nth($allSize, 1);
    margin-bottom: nth($allSize, 1);
    border-style: groove;
}
.carousel-caption.d-none.d-md-block {
    font-size: nth($allSize, 3);
h5{
    font-size: nth($allSize, 1);
    text-decoration: underline;
    font-style: oblique;
}
}
// footer 
footer{
    background-color: $colorPie ;
    height: nth($tamanoAlto, 3);
    .container-body {
        display: flex;
    }
    }
.columna1 {
        width: nth($tamanoAncho, 3);
        padding-left: 50px;
h2 {
        color: $colorContenedores;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: nth($allSize, 2);
    }
p {
        color: $ColorParrafoPie;
        font-size: nth($allSize, 5);
        margin-top: nth($allSize, 3);
        justify-content: left;
        font-style: oblique;
        text-align: justify;
    }
}
.columnaContacto {
        width: nth($tamanoAncho, 3);
        padding-left: 100px;
h2 {
        color: $ColorParrafoPie;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin-top: nth($allSize, 2);
    }
li{
    color: $ColorParrafoPie;
    margin-top: 1rem;
    display: flex;
    font-size: nth($allSize, 5);
}
i{
    width: nth($tamanoAncho, 4);
    height: 3rem;
    justify-content: flex-start;
    margin-left: 10px;
}
}
.columna3{
    width: nth($tamanoAncho, 3);
    justify-content: end;
    padding-left: 80px; 
iframe{
        justify-content: end;
        padding-left: nth($allSize, 6);
        width: fit-content;
        margin-top: nth($allSize, 2);
    }
}
// @media screen and (max-width: 768px){
//     .container-body{
//         background-color: black;
//     }
// }

